body {
    font-family: sans-serif;
    background-color: rgba(185, 7, 7, 0.719);
  }
  
  #gameBoard {
    background-color: #232323;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: .5rem;
    margin-bottom: 1.5rem;
    max-width: 19rem;
  }
  
  #gameBoard span {
    background-color: #ddd;
    display: flex;
    place-content: center;
    font-size: 5rem;
  }
  
  #gameBoard span.win {
    background-color: #25a340;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }